<%- include("../partials/head.ejs") %>
<%- include("../partials/header.ejs") %>
  <h2>Create a New Entry</h2>
  <% if (message) { %><p><%= message %></p><% } %>

  <form method="POST" action="/jobs">
    <table id="jobs-form-table">
        <tr>
        <th colspan="2">Add Job</th>
        </tr>
        <tr>
        <td><label for="company">company:</label></td>
        <td><input type="text" id="company" name="company" required /></td>
        </tr>
        <tr>
        <td><label for="position">position:</label></td>
        <td><input type="text" id="position" name="position" required /></td>
        </tr>
        <tr>
        <td><label for="status">status:</label></td>
        <td>
            <select id="status" name="status">
            <option value="pending">pending</option>
            <option value="interview">interview</option>
            <option value="declined">declined</option>
            </select>
        </td>
        </tr>
        <tr>
        <td colspan="2">
            <% if (locals._csrf) { %>
            <input type="hidden" name="_csrf" value="<%= locals._csrf %>" />
            <% } %>
            <button type="submit">add</button>
            <a href="/jobs"><button type="button">cancel</button></a>
        </td>
        </tr>
    </table>
  </form>
<%- include("../partials/footer.ejs") %>